@media only screen and (min-width: 961px) {
  body {
    font-size: 16px;
  }
  .main {
    width: 40%;
  }
  #sidebar {
    width: 10%;
  }
  #mainbox {
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    font-size: 20px;
  }
  .main {
    width: 70%;
  }
  #sidebar {
    width: 20%;
    font-size: 16px;
  }
  #mainbox {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    font-size: 24px;
  }
  .main {
    width: 70%;
  }
  #sidebar {
    width: 20%;
    font-size: 16px;
  }
  #mainbox {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

body {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  /* background-color: #ffedf4; */
  background-image: url("rosesbackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  text-align: left;
  margin: 10px 0px 10px 20px;
  background-color: #ffdbe9;
}

h1 {
  font-size: 60px;
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffdbe9;
  padding: 20px 20px 20px 20px;
}

.maintext {
  text-align: left;
  padding: 0px 20px 20px 20px;
}

#sidebar {
  height: 100%;
  background-color: #ffdbe9;
  position: fixed;
  top: 0%;
  left: 0%;
}

#menuheader {
  text-align: left;
  margin-left: 20px;
}

#mainbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
